
.format{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto" , sans-serif;
}

.image-banner{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.image-banner>img{
    margin: 10px;
    padding:10px;
    filter: drop-shadow(3px 3px 4px grey);
}
.text{
    padding: 3rem;
    text-align: center;
    font-weight: 600;
    color: rgb(53, 53, 53);
    font-size: 1.1rem;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 33px;
}
.btn-course>a{
    color:#fff
}
.m-10{
    color: grey;
    text-align: left;
    margin: 10px;
    margin-top:2rem
}
.text-Q{
    font-weight: 600;
    color: #198754;
    font-size: 2.1rem;
    padding:0.5rem;
}
ul.Q-list>li:before {
    font-family: FontAwesome;
    position: absolute;
    transform: translateX(-30px);
    color: rgb(255 255 0);
    text-align: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    box-shadow: 0 0px 7px -2px black;
  }

li.Q-item:before {
    content:"\f0e7";
 }
 .Q-item{
    padding:1rem;
 }

.hr {
    border-top: 0.5px solid #d3d5db;
    width: 80%;
    margin-top: 3rem;
    border-radius: 50%;
}

.vertical{
    transform: rotate(90deg);
}

.um-10{
    margin-top:5rem
}

.left{
    border-left:0.5px solid #d3d5db;
    padding-left: 1rem;
}

#imgC{
    max-width: 320px;
}
/* thead{
    background-color: #198754;
    border:none;
} */

thead{
    background: #262163;
    color: #fff;
    font-size: 1.3rem;
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
        

    backdrop-filter: blur(10px);
    float: left;
    width: 100%;
    background: linear-gradient(45deg, #ffffff24 -1%, transparent 52%);
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #d5d5d5;
    margin: 0 0 28px;
    border-radius: 10px;
    transition: all ease-in-out 0.6s;

}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block:hover{
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid #d5d5d5;

}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#ffffff ; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#ffffff;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#ffffff !important; 
   font-size:11px; 
   line-height:15px;
   text-align: center !important;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#ffffff;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
   text-shadow: 0px 0px 1px #fff;
}


/* @keyframes spacing {
    from{
        letter-spacing: 100px;
        opacity:0
    }
    to{
        letter-spacing: normal;
        opacity:1
    }
    
} */